.jt_label{
    display: inline-block;
    width: 90px;
    word-wrap: break-word;
    word-break: break-all;
}
.jt_checkLabel{
     position: relative;
    display: flex;
    flex: 1;
    /*padding: 10px 15px;*/
    padding: 8px 12px;
    }
    .jt_checkLabel:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: 12px;
    z-index: 2;
}